@page "/demoHotel"

<h3>DemoHotel</h3>
<div class="border p-2 mt-2" style="background-color:azure">
    <h2 class="text-info" style="font-family:Bahnschrift">Room List</h2>
    <h3 style="color:slategrey;font-family:Bahnschrift">Hotel Rooms</h3>
    <div class="row container">
        @foreach(var room in roomList)
        {
            <IndividualRoom Room="@room"/>
        }
    </div>
    <br />
    <h3 style="color:slategrey;font-family:Bahnschrift">Hotel Amenities</h3>
    <div class="row container">
        @foreach(var amenity in amenitiesList)
        {
            <HotelAmenities Amenities="@amenity"/>
        }
    </div>
</div>

@code {
    List<BlazorRoom> roomList = new List<BlazorRoom>();
    List<BlazorHotelAmenities> amenitiesList = new List<BlazorHotelAmenities>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        roomList.Add(new BlazorRoom()
            {
                Id = 1,
                RoomName = "Villa Suite",
                IsActive = true,
                Price = 599,
                RoomProps = new List<BlazorRoomProp>
            {
                new BlazorRoomProp{ Id = 1, Name="Sq ft", Value="100"},
                new BlazorRoomProp{ Id = 2, Name="Occupancy", Value="3"}
            }
            });
        roomList.Add(new BlazorRoom()
            {
                Id = 2,
                RoomName = "Forest Suite",
                IsActive = true,
                Price = 1000,
                RoomProps = new List<BlazorRoomProp>
            {
                new BlazorRoomProp{ Id = 1, Name="Sq ft", Value="200"},
                new BlazorRoomProp{ Id = 2, Name="Occupancy", Value="6"}
            }
            });

        amenitiesList.Add(new BlazorHotelAmenities()
            {
                Id = 100,
                Name = "Gym",
                Description = "24hr Gym room is available as standard"
            });
        amenitiesList.Add(new BlazorHotelAmenities()
            {
                Id = 101,
                Name = "Breakfast buffet",
                Description = "Enjoy a free Breakfast buffet at our hotel"
            });
        amenitiesList.Add(new BlazorHotelAmenities()
            {
                Id = 102,
                Name = "Swimming Pool",
                Description = "Use our pool and Sauna, from 6am to 10pm"
            });
    }
}
