@page "/lifecycle"
@using System.Threading

<h3>LifeCycle</h3>

<div class="border">
    <LifeCycleComponent CountValue="@currentCount"></LifeCycleComponent>
</div>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br /> @Count <button @onclick=StartCountdown>Start Countdown</button>

@foreach(var item in eventType)
{
    @item
    <hr/>
}

@code {
    private int currentCount = 0;
    List<string> eventType = new List<string>();
    private int Count { get; set; } = 5;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {
        eventType.Add("OnInitialized is called");
    }

    protected override async Task OnInitializedAsync()
    {
        eventType.Add("OnInitializedAsync is called");
        await Task.Delay(1000);
    }

    protected override void OnParametersSet()
    {
        eventType.Add("OnParametersSet is called");
    }

    protected override async Task OnParametersSetAsync()
    {
        eventType.Add("OnParametersSetAsync is called");
        await Task.Delay(1000);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            currentCount = 111;
        }
        else
        {
            currentCount = 999;
        }

        eventType.Add("OnAfterRender is called");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        eventType.Add("OnAfterRender is called");
    }

    protected override bool ShouldRender()
    {
        eventType.Add("Shouldrender is called");
        return true;
    }

    void StartCountdown()
    {
        var timer = new Timer(TimeCallBack, null, 1000, 1000);
    }

    void TimeCallBack(object state)
    {
        if(Count > 0)
        {
            Count--;
            InvokeAsync(StateHasChanged);
        }
    }
}