<div class="bg-light border p-2 col-5 offset-1" @onclick="(args)=>AmenitySelection(args, Amenities.Name)">
    <h4 class="text-secondary">Amenity: @Amenities.Id</h4>
    <p>
        @Amenities.Name<br/>
        @Amenities.Description<br/>
    </p>                
</div>

@code {
    [Parameter]
    public BlazorHotelAmenities Amenities { get; set; }

    [Parameter]
    public EventCallback<string> OnAmenitySelection { get; set; }

    protected async Task AmenitySelection(MouseEventArgs eventArgs, string name)
    {
        await OnAmenitySelection.InvokeAsync((string)name);
    }
}
